@media only screen and (max-width:414px) {
    :root {
        --top-base: rgb(237, 235, 235);
        --text-top-base: black;
        --font-family: "Roboto", sans-serif;
    }

    header {
        background-color: var(--top-base);
        color: var(--hs-color);
        display: grid;
        padding: 1%;
        max-width: 100%;
    }

    #header {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: end;
        justify-content: space-between;
        justify-content: center;
    }

    #header h2 {
        font-size: 1.9rem;
        font-family: var(--font-family);
    }

    #header p {
        font-family: var(--font-family);
        font-size: smaller;
    }

    #header img {
        width: 40px;
        height: 45px;
        margin: 8px;
    }

    #logo {
        width: 30px;
    }

    #small-screen {
        display: flex;
        justify-content: flex-end;
    }

    .navigation {
        list-style: none;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    nav li {
        display: none;
    }

    .navigation a {
        display: block;
        text-align: left;
        text-decoration: none;
        color: var(--text-top-base);
        transition: 0.5s;
        padding: 22px;
    }

    .navigation a:hover {
        color: var(--top-base);
        padding-right: 1px;
        background-color: var(--text-top-base);
    }


    .show li {
        display: block;
    }

    #menu.show::before {
        content: 'X';
    }

    #menu {
        font-size: 3rem;
        font-weight: 700;
        text-decoration: none;
        padding: .75rem;
        color: var(--text-top-base);
    }

    #menu::before {
        content: "≡";
    }

    #menu:hover {
        background-color: var(--text-top-base);
        color: var(--top-base);
    }

    li.current-menu-item a {
        background-color: var(--text-top-base);
        color: white;
        font-family: var(--font-family);
        width: 100%;
    }

    /* FOOTER */
    footer {
        /* This is the only one to change in large css*/
        display: flex;
        flex-direction: column;
        background-color: var(--top-base);
        font-family: var(--font-family);
        font-size: 10px;
        padding: 0px;
    }

    footer p,
    h3 {
        margin-left: 10px;
    }

    .sociallinks {
        display: flex;
        justify-content: space-between;
        align-self: center;
    }

    .information a {
        color: var(--text-top-base);
        text-decoration: none;
    }

    .information a:hover {
        color: var(--top-base);
        background-color: var(--text-top-base);
    }

    .sociallinks img {
        width: 42px;
        height: 42px;
        margin: 3px;
    }

    .sociallinks img:hover {
        background-color: var(--text-top-base);
        padding: 1px;
    }

    .icon img {
        border-radius: 100px;
    }

    /* DIRECTORY MAIN */

    main {
        display: grid;
    }

    main h1 {
        font-family: var(--font-family);
        text-align: center;
        font-size: 1.5rem;
        margin: 1rem;
    }

    main button {
        background-color: var(--text-top-base);
        color: white;
        padding: 22px;
        margin: 3px;
        border-radius: 10px;
        font-family: var(--font-family);
    }

    .butons {
        display: flex;
        justify-content: center;
    }

    main button:hover {
        background-color: var(--top-base);
        color: var(--text-top-base);

    }

    .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        display: grid;
        text-align: center;
        max-width: 90%;
        border: black solid 3px;
        justify-items: center;
        align-items: center;
        margin: 5px;
        border-radius: 10px;
        background-color: var(--top-base);
        font-family: var(--font-family);
    }

    .card img {
        max-width: 90%;
    }

    .list {
        display: flex;
        flex-direction: column;
        border: black solid 3px;
        border-radius: 10px;
        background-color: var(--top-base);
        font-family: var(--font-family);
        justify-content: center;
    }

    .list ul {
        list-style-type: none;
        text-align: center;
        margin-right: 20px;
    }

    /* HOME MAIN*/

    #container {
        position: relative;
        width: 100%;
    }

    #container img {
        height: auto;
        max-width: 100%;
        opacity: 0.8;
    }

    #container #btn {
        position: absolute;
        top: 85%;
        left: 75%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: var(--text-top-base);
        color: white;
        font-size: 16px;
        padding: 10px 10px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
        border: 2px solid white;
    }

    #container #btn:hover {
        background-color: var(--top-base);
        color: var(--text-top-base);
    }

    #events-weather {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .first-row {
        border: 2px solid var(--text-top-base);
        padding: 0px;
        width: 90%;
        margin: 5px;
        border-radius: 10px;
    }

    .first-row h2 {
        font-family: var(--font-family);
        font-size: small;
        background-color: var(--top-base);
        margin-top: 0%;
        text-align: center;
        padding: 6px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        max-width: 400px;
    }

    #weather-card {
        text-align: center;
    }

    #current-events-card p {
        text-align: justify;
        margin: 10px;
    }

    #future-temp {
        text-align: center;
    }

    .busCard {
        max-width: 230px;
        display: grid;
        border: 2px solid var(--text-top-base);
        margin: 5px;
        border-radius: 10px;
        justify-items: center;

    }


    .busCard p {
        text-align: center;
        margin: 12px;
        max-width: 350px;

    }

    .busCard h3 {
        font-family: var(--font-family);
        text-decoration: underline;
        text-align: center;

    }

    #businessInfoCard {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}