:root{
    --top-base: rgb(209, 207, 207);
    --text-top-base: black;
    --font-family: "Roboto", sans-serif;
}
/* FOOTER */
footer {/* This is the only one to change in large css*/
    display: flex;
    flex-direction: column;
    background-color: var(--top-base);
    font-family: var(--font-family);
    font-size: smaller;
}
.sociallinks{
    display: flex;
    justify-content:space-between;
    align-self: center;
}
.information a{
    color: var(--text-top-base);
    text-decoration: none;
}
.information a:hover{
    color: var(--top-base);
    background-color: var(--text-top-base);
}
.sociallinks img{
    width: 42px;
    height: 42px;
    margin: 3px;;
}
.sociallinks img:hover{
    background-color: var(--text-top-base);
    padding: 1px;
}