@media (min-width: 320px) and (max-width: 1200px) {
    body {
        margin: 0 auto;
        font-family: "Roboto", sans-serif;
        --border-color: 1px solid rgb(214, 212, 212);
    }

    :root {
        --main-color: rgb(43, 93, 150);
        --nav-background-color: black;
        --hs-color: azure;
    }

    header {
        background-color: var(--main-color);
        color: var(--hs-color);
        display: grid;
        padding: 1%;
        justify-content: center;
        align-items: end;
    }

    header p {
        grid-column: 3/3;
        margin-left: 12px;
        font-size: 1.5rem;
        text-align: center;
    }

    header span img {
        grid-column: 3/2;
        margin-right: 12px;
    }

    nav {
        background-color: var(--nav-background-color);
        margin: 0 auto;
        max-width: 800px;
        font-family: sans-serif;
    }

    nav ul {
        list-style-type: none;
    }

    nav a {
        display: block;
        color: var(--hs-color);
        text-align: center;
        padding: 1rem;
        text-decoration: none;
    }

    nav a:hover {
        text-decoration: overline;
    }

    .active {
        color: yellow;
    }

    p {
        margin: 1rem auto;
        width: fit-content;
        font-family: Acme, sans-serif;
    }

    /*HAM BUTTON*/
    .show li {
        display: block;
    }

    #menu.show::before {
        content: 'X';
    }

    #menu {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        padding: .5rem .75rem;
        background-color: var(--main-color);
        color: white;
    }

    #menu::before {
        content: "≡";
    }

    /*MAIN*/
    main {
        display: flex;
        flex-direction: column;
    }

    main h1 {
        color: var(--main-color);
        font-size: 1.5rem;
        text-align: center;
    }

    /*Section 1*/
    #courseWork {
        border: var(--border-color);
        box-shadow: 2px 2px gray;
        margin: 10px;
        padding: 10px;
        width: 100%;
    }

    #courseWork h2 {
        text-align: center;
        background-color: var(--main-color);
        padding: 2px;
        color: var(--hs-color);
    }

    /*Section 2*/
    #city {
        border: var(--border-color);
        box-shadow: 2px 2px gray;
        text-align: center;
        padding: 10px;
    }

    #city h2 {
        background-color: var(--main-color);
        color: var(--hs-color);
    }

    #city h2 {
        padding: 2%;
    }

    figcaption {
        font-size: small;
    }

    /*Section 2*/
    #city {
        border: var(--border-color);
        box-shadow: 2px 2px gray;
        text-align: center;
        padding: 20px;
        grid-column: 2/2;
    }

    #city h2 {
        background-color: var(--main-color);
        color: var(--hs-color);
    }

    #city h2 {
        padding: 5%;
    }

    figcaption {
        font-size: small;
    }

    /*Section 3*/
    #dynamic-section {
        border: var(--border-color);
        box-shadow: 2px 2px gray;
        margin: 5px;
    }

    #dynamic-section h2 {
        text-align: center;
        background-color: var(--main-color);
        padding: 2px;
        color: var(--hs-color);
    }

    /*FOOTER*/
    footer {
        text-align: center;
        background-color: var(--main-color);
        padding: 10px;
    }

    #currentYear {
        color: var(--hs-color);
    }

    #name {
        color: var(--hs-color);
    }

    #lastModified {
        color: rgba(255, 255, 0, 0.791);
    }
}